.slider-container {
   margin-top: 0;
    height: 400px; /* Set the height to a quarter of the window height */
    overflow: hidden;
    
  }
  
  .slick-arrow {
    background-color: #000; /* Customize arrow button background color */
    color: #fff; /* Customize arrow button text color */
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .slick-prev {
    left: 10px;
  }
  
  .slick-next {
    right: 10px;
  }
  .slider-image {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Choose the object-fit value that suits your design */
  }
  .slider-image-container {
    height: 400px; /* Set the same height as the slider-container */
  }
  
  